.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding-top: 9px;

  @include onTablet {
    @include pageGrid;
    padding-top: 15px;
  }

  &__logo-container {
    display: flex;
    justify-content: center;

    @include onTablet {
      grid-column: 4 / 6;
    }

    @include onDesktop {
      grid-column: 6 / 8;
    }
  }

  &__logo-img {
    display: block;
    @include hover(transform, scale(1.05));
  }
}
